@{
    ViewBag.Title = "Home Page";
}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   
<link href="~/Styles/main.css" rel="stylesheet" />
<link href="~/Styles/Loader.css" rel="stylesheet" />
<body>
    <div class="container">
        <div class="align-items-center">
            <div class="container-fluid" >
            <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
   <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/burger.jpg" alt="Los Angeles" class="d-block">
    </div>
    <div class="carousel-item">
      <img src="~/images/pizza.jpg" alt="Chicago" class="d-block">
    </div>
    <div class="carousel-item">
      <img src="~/images/beer.jpg" alt="New York" class="d-block">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  
  </div>
</div>
        </div>
        <div class="row">
        <div class="homeinfo-container">
            <div class="img-container">
                <img src="~/images/images.jpg" alt="nice table" class="img-container">
            </div>
            <div class="details">
                <h1>Know your food . . .<br>Eat healthy, stay fit</h1>
                <p class="infostyle">Eating healthy means following a healthy eating pattern that includes a variety of nutritious foods and drinks. It also means getting the number of calories that’s right for you (not eating too much or too little).</p>
                <div class="row" style="margin-top:30px">
                    <div>
                        <a href="" class="" style="left: 1%;color:black!important;font-size: 23px!important;"> know more about Food nutrients.....</a>
                        
                    </div>
                    <div class="row">
                   <div>
                       <button onclick="location.href ='@Url.Action("GetInfo","Home")'" type="button" style="background-color:black; width:60%;">click here!</button>
                   </div>
                
                </div>
                </div>
            </div>

        </div>
        </div>

    </div>








    <div class="loading"/>


</body>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.loading').hide();

        $('.btun').click(function () {
            debugger;
            $('.loading').show();
        })
    });

</script>